/* 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root, #__next {
  height: 100%;
}

.bg-dark {
  height: 100%;
}
 */


.text-orange {
  color:rgb(255, 128, 0);
}

.text-purple {
  color:
  #7952b3;
}

.text-cyan {
  color:
  #7fd8d4;
}

.btn-cyan {
  background-color:
  #108fa0;
}


.btn-orange {
  background-color:rgb(255, 128, 0);
  transition: 0.5s;
}

.btn-orange:hover {
  background-color:rgb(255, 150, 45);
  color: darkslategray;
}